@if (product) {

<div
  class="hover:scale-[1.02] border-light-6 border h-full rounded-xl hover:bg-light-1 transition p-5 flex flex-col relative duration-300 ease-in-out group hover:shadow-3xl"
>
  <a
    routerLink="/product/{{ product.id }}"
    class="flex aspect-square scale-100 overflow-hidden items-center justify-center group-hover:scale-105 pb-2 transition-transform duration-300 ease-in-out cursor-pointer relative"
  >
    <img
      class="object-contain w-full h-full"
      [src]="product.pictureUrl"
      [alt]="product.name"
    />
  </a>
  <div class="flex flex-col gap-2 mt-3 flex-auto">
    <a routerLink="/product/{{ product.id }}">
      <h3 class="text-xl font-semibold text-gray-800">
        {{ product.name }}
      </h3>
    </a>
    <p class="text-sm text-gray-500 flex-auto">{{ product.description }}</p>
    <div class="flex justify-between items-center">
      <p class="text-lg font-semibold text-primary-500">
        {{ product.price | currency }}
      </p>
      <button
        (click)="cartService.addItemToCart(product)"
        class="bg-primary-500 text-white px-3 py-2 rounded-md"
      >
        В кошик
      </button>
    </div>
  </div>
  <div
    class="absolute top-0 right-0 bg-primary-400 text-light-2 px-2 py-1 rounded-bl-md rounded-tr-md"
  >
    <p class="text-sm font-semibold">{{ product.type }}</p>
  </div>
</div>
}
