<header
  class="border-b shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white"
>
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <a class="text-2xl font-semibold text-orange-500" href="/">Oranje</a>
    <nav class="flex gap-10 my-2">
      <a
        *ngFor="let link of links; trackBy: trackByUrl"
        [routerLink]="link.url"
        routerLinkActive="active"
      >
        {{ link.name }}
      </a>
    </nav>
    <div class="flex gap-3 align-middle items-center">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="5"
        matBadgeSize="medium"
        class="custom-badge pt-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>

      <button routerLink="/account/login" mat-stroked-button>Login</button>
      <button routerLink="/account/register" mat-stroked-button>
        Register
      </button>
    </div>
  </div>
</header>
