<header
  class="container border-b shadow-3xl w-full min-h-20 flex items-center fixed top-0 z-50 bg-light-2"
>
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto flex-auto"
  >
    <a class="text-2xl font-bold text-primary-500" routerLink="/">Oranje</a>
    <nav class="flex gap-10 my-2">
      <a
        *ngFor="let link of links; trackBy: trackByUrl"
        [routerLink]="link.url"
      >
        {{ link.name }}
      </a>
    </nav>
    <div class="flex gap-3 align-middle items-center">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        [matBadge]="cartService.itemCount()"
        matBadgeSize="medium"
        class="custom-badge pt-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if (accountService.currentUser()) {
      <button class="border-primary-500" mat-stroked-button (click)="logout()">
        logout
      </button>
      } @else {
      <button routerLink="/login" class="border-primary-500" mat-stroked-button>
        Увійти
      </button>
      <button
        routerLink="/register"
        class="border-primary-500"
        mat-stroked-button
      >
        Зареєструватися
      </button>
      }
    </div>
  </div>
</header>
@if (busyService.loading) {
<mat-progress-bar
  class="fixed top-20 z-50"
  mode="indeterminate"
></mat-progress-bar>
}
