.custom-badge .mat-badge-content {
  width: 18px;
  height: 18px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  line-height: 18px;
}

.custom-badge .mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.active-link {
  color: #fff;
  background-color: #007bff;
}
