<div class="flex flex-col gap-3 mt-[50px]">
  <div class="flex justify-between gap-3">
    <form
      #searchForm="ngForm"
      (ngSubmit)="onSearchChange()"
      class="relative flex items-center w-full max-w-md"
    >
      <input
        type="text"
        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg"
        placeholder="Search"
        name="search"
        [(ngModel)]="shopParams.search"
      />
      <button
        mat-icon-button
        type="submit"
        class="absolute inset-y-0 right-3 top-2 flex items-center pl-3"
      >
        <mat-icon class="text-md text-primary-500 h-9 w-9">search</mat-icon>
      </button>
    </form>
    <div class="flex justify-end gap-3">
      <button
        class="border-primary-500"
        (click)="openFiltersDialog()"
        mat-stroked-button
      >
        Фільтрування
      </button>
      <button
        class="border-primary-500"
        [matMenuTriggerFor]="sortMenu"
        mat-stroked-button
      >
        Сортування
      </button>
    </div>
  </div>
  <div class="product-list">
    @for (product of products; track product.id) {
    <app-product-item [product]="product"></app-product-item>
    }
  </div>
  <mat-paginator
    (page)="handlePageChange($event)"
    [length]="pagination?.count"
    [pageSize]="pagination?.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="shopParams.pageIndex - 1"
    aria-label="Оберіть сторінку"
    class="self-center mx-auto bg-transparent"
  ></mat-paginator>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="shopParams.sort === sort.value"
    >
      {{ sort.name }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
>
