<div class="flex mt-32">
  <div class="w-3/4">
    <mat-stepper
      #stepper
      class="bg-white border border-gray-200 shadow-3xl"
      [linear]="true"
      (selectionChange)="onStepChange($event)"
    >
      <mat-step label="Address" [completed]="completionStatus().address">
        <div class="" id="address-elem"></div>
        <div class="flex justify-end mt-1">
          <mat-checkbox
            [checked]="saveAddress"
            (change)="onSaveAddressChange($event)"
          >
            Зберегти як адресу за замовчуванням
          </mat-checkbox>
        </div>
        <div class="flex justify-between mt-6">
          <button routerLink="/" class="z-0" mat-stroke-button>
            Продовжити покупки
          </button>
          <button
            [disabled]="!completionStatus().address"
            matStepperNext
            mat-flat-button
            class="z-0"
          >
            Далі
          </button>
        </div>
      </mat-step>
      <mat-step label="Shipping" [completed]="completionStatus().delivery">
        <app-delivery
          (deliveryCompleted)="handleDeliveryChange($event)"
        ></app-delivery>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroke-button>Назад</button>
          <button
            [disabled]="!completionStatus().delivery"
            matStepperNext
            mat-flat-button
          >
            Далі
          </button>
        </div>
      </mat-step>
      <mat-step label="Payment" [completed]="completionStatus().payment">
        <div id="payment-elem"></div>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroke-button>Назад</button>
          <button
            [disabled]="!completionStatus().payment"
            matStepperNext
            mat-flat-button
          >
            Далі
          </button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
        <app-review [confirmationToken]="confirmationToken"></app-review>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button mat-flat-button>
            <span
              >Підтвердити {{ cartService.totals()?.total | currency }}</span
            >
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
