@use "@angular/material" as mat;
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*---------------------------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------------------------------------------------------------*/
@include mat.core();

// $dark-1: #000000;
// $light-1: #ffffff;

// $mat-primary: (
//   50: #fff5ee,
//   100: #ffe7d5,
//   200: #ffd7bb,
//   300: #ffb27c,
//   400: #ff8f3e,
//   500: #f97316,
//   600: #d76a1d,
//   700: #9d5827,
//   800: #874e25,
//   900: #683b1b,
//   A100: #ffe3d0,
//   A200: #ffb37d,
//   A400: #f87d26,
//   A700: #b55d1e,
//   contrast: (
//     50: $dark-1,
//     100: $dark-1,
//     200: $dark-1,
//     300: $dark-1,
//     400: $dark-1,
//     500: $dark-1,
//     600: $dark-1,
//     700: $dark-1,
//     800: $dark-1,
//     900: $light-1,
//     A100: $dark-1,
//     A200: $dark-1,
//     A400: $dark-1,
//     A700: $dark-1,
//   ),
// );

// $mat-accent: (
//   50: #e1f5fe,
//   100: #b3e5fc,
//   200: #81d4fa,
//   300: #4fc3f7,
//   400: #29b6f6,
//   500: #03a9f4,
//   600: #039be5,
//   700: #0288d1,
//   800: #0277bd,
//   900: #01579b,
//   A100: #80d8ff,
//   A200: #40c4ff,
//   A400: #00b0ff,
//   A700: #0091ea,
//   contrast: (
//     50: $dark-1,
//     100: $dark-1,
//     200: $dark-1,
//     300: $dark-1,
//     400: $dark-1,
//     500: $dark-1,
//     600: $dark-1,
//     700: $dark-1,
//     800: $dark-1,
//     900: $light-1,
//     A100: $dark-1,
//     A200: $dark-1,
//     A400: $dark-1,
//     A700: $dark-1,
//   ),
// );

// $my-primary: mat.m2-define-palette($mat-primary);
// $my-accent: mat.m2-define-palette($mat-accent);

// $my-theme: mat.m2-define-light-theme($my-primary, $my-accent);

// @include mat.all-component-themes($my-theme);

.custom-theme {
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md text-primary-500;
  }
  .mdc-button__label {
    @apply text-primary-500;
  }
  .mat-stroked-button .mdc-button__label {
    @apply text-white;
  }
  .mdc-stroked-button {
    @apply text-primary-500 border-primary-500;
  }
  .mdc-button--unelevated {
    @apply text-light-1 bg-primary-500;
  }
}

@layer base {
  :root {
    --primary-200: #ffd1b0;
    --primary-300: #ffab6f;
    --primary-400: #ff964b;
    --primary-500: #f97316;
    --primary-600: #ea6608;
    --primary-700: #c54200;
    --primary-800: #be2f00;
    --secondary-500: #80dfff;
    --secondary-600: #5cd6ff;
    --secondary-700: #33ccff;
    --off-white: #d1e0ff;
    --dark-1: #000000;
    --dark-2: #0a0a0b;
    --dark-3: #111113;
    --dark-4: #1f1f23;
    --dark-5: #2f2f32;
    --dark-6: #3e3e41;
    --light-1: #ffffff;
    --light-2: #fdfbf4;
    --light-3: #fff4eb;
    --light-4: #fff3e5;
    --light-5: #ffefdb;
    --light-6: #ffeed6;
  }
}

@layer components {
  body,
  html {
    @apply bg-light-2 text-dark-2;
  }
}

.mat-mdc-snack-bar-container.toast-error {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.toast-success {
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}
