@use "@angular/material" as mat;
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*---------------------------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------------------------------------------------------------*/

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md text-primary-500;
  }
  .mdc-button__label {
    @apply text-primary-500;
  }
  .mat-stroked-button .mdc-button__label {
    @apply text-white;
  }
  .mdc-stroked-button {
    @apply text-primary-500 border-primary-500;
  }
}

@layer base {
  :root {
    --primary-200: #ffd1b0;
    --primary-300: #ffab6f;
    --primary-400: #ff964b;
    --primary-500: #f97316;
    --primary-600: #ea6608;
    --primary-700: #c54200;
    --primary-800: #be2f00;
    --secondary-500: #80dfff;
    --secondary-600: #5cd6ff;
    --secondary-700: #33ccff;
    --off-white: #d1e0ff;
    --dark-1: #000000;
    --dark-2: #0a0a0b;
    --dark-3: #111113;
    --dark-4: #1f1f23;
    --dark-5: #2f2f32;
    --dark-6: #3e3e41;
    --light-1: #ffffff;
    --light-2: #fdfbf4;
    --light-3: #fff4eb;
    --light-4: #fff3e5;
    --light-5: #ffefdb;
    --light-6: #ffeed6;
  }
}

@layer components {
  body,
  html {
    @apply bg-light-2 text-dark-2;
  }
}

.mat-mdc-snack-bar-container.toast-error {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.toast-success {
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}
