<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full">
  <div
    class="border-primary-200 border h-full rounded-xl bg-light-1 transition p-5 flex flex-col relative duration-300 ease-in-out group hover:shadow-3xl gap-3"
  >
    <p class="text-xl font-semibold">Оформлення замовлення</p>
    <div class="flex flex-col gap-3">
      <div class="">
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Разом</dt>
          <dd class="font-medium text-gray-900">
            {{ cartService.totals()?.subtotal | currency }}
          </dd>
        </dl>
        @if (cartService.totals()?.discount) {

        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Знижка</dt>
          <dd class="font-medium text-green-500">
            -{{ cartService.totals()?.discount | currency }}
          </dd>
        </dl>
        }
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-medium text-gray-500">Вартість доставки</dt>
          <dd class="font-medium text-gray-900">
            {{ cartService.totals()?.shipping | currency }}
          </dd>
        </dl>
      </div>

      <dl
        class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2"
      >
        <dt class="font-medium text-gray-500">До сплати</dt>
        <dd class="font-medium text-gray-900">
          {{ cartService.totals()?.total | currency }}
        </dd>
      </dl>
    </div>
    @if (location.path() !== '/checkout') {
    <div class="flex flex-col gap-2">
      <button
        routerLink="/checkout"
        class="border-primary-500 bg-light-6"
        mat-stroked-button
      >
        Замовлення підтверджую
      </button>
      <button routerLink="/" mat-button>Продовжити покупки</button>
    </div>
    }
  </div>

  <div
    class="border-primary-200 border h-full rounded-xl bg-light-1 transition p-5 flex flex-col relative duration-300 ease-in-out group hover:shadow-3xl gap-3"
  >
    <form class="flex flex-col">
      <label class="font-mediem mb-2">Маєте промокод?</label>
      <mat-form-field appearance="outline">
        <mat-label>Промокод</mat-label>
        <input type="text" matInput />
      </mat-form-field>

      <button class="border-primary-500 bg-light-6" mat-stroked-button>
        Застосувати
      </button>
    </form>
  </div>
</div>
